.recipeWrapper {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  padding: 5% 5% 20%;
  min-height: var(--recipe-page-height);

  h1 {
    font-size: 3rem;
    max-width: calc(100% - 48px);
  }

  ul li {
    margin-bottom: 0.5rem;
  }
  p + p {
    margin-top: 1rem;
  }
}
