.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  &.active {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  max-width: 90%;
  background-color: var(--primary-100);
  padding: 2rem;
  border-radius: var(--main-border-radius);
  opacity: 0;
  $transition: 200ms ease-in-out;
  transition: transform $transition, opacity $transition;
  pointer-events: none;

  &.open {
    pointer-events: all;
    transform: translate(-50%, -100%);
    opacity: 1;
  }
}
