#editor.quillEditor.ql-container {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;

    .ql-tooltip-arrow {
        display: none;
    }

    .ql-tooltip .ql-toolbar {
        background-color: var(--primary-100);
        border-radius: var(--main-border-radius);
        box-shadow: var(--depth-3);
    }

    .ql-tooltip-editor input {
        color: var(--secondary-800);
        font-size: 1rem;
    }
}