.card {
  padding: 1rem;
  background-color: var(--primary-100);
  box-shadow: var(--depth-1);
  border-radius: var(--main-border-radius);
  ul {
    margin: 0;
    padding: 0;
  }
}
.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  svg {
    margin-right: 1rem;
  }
}
