@import "../../../styles/sass-variables";

.wrapper {
  width: var(--category-bar-width);
  top: 0;
  left: 0;
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: $mobile-bp) {
    white-space: nowrap;
    margin-top: 4px;
    width: 100%;
    max-height: none;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.label {
  $non-active-offset: 0.5rem;
  $left-offset: 0.5rem;
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
  background-color: var(--primary-300);
  box-shadow: var(--depth-2);
  margin-left: $left-offset + $non-active-offset;
  text-align: left;
  display: inline;
  @media screen and (min-width: $mobile-bp - 1) {
    display: block;
    padding: 2rem 4rem 2rem 1rem;
    border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
    margin-bottom: 0.5rem;
    span {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
    &.active {
      padding-left: 1rem + $non-active-offset;
      margin-left: $left-offset;
    }
  }

  &.active {
    background-color: var(--accent);
  }

  &.addCategory {
    padding: 1rem;
  }
}

.addCategoryWrapper {
  .label input {
    height: 100%;
    // transform: rotate(-90deg);
    transform-origin: top left;
  }
}

button.label:last-child {
  margin-bottom: 1rem;
}
