.bookContainer {
  .pageWrapper {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: var(--recipe-page-width);
    background-color: var(--primary-200);
    box-shadow: var(--depth-2);
    min-height: var(--recipe-page-height);
  }
  @media screen and (max-width: 760px) {
    margin-top: var(--recipe-category-height);
  }
}
