.bookContainer {
  .pageWrapper {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: var(--recipe-page-width);
    background-color: var(--primary-200);
    box-shadow: var(--depth-2);
    min-height: 100vh;
  }
  @media screen and (max-width: 760px) {
    margin-top: 56px;
  }
}
