@import "../../styles/design-tokens/_scss-variables.scss";

.wrapper {
    position: relative;

    button {
        margin: 0 auto
    }
}

.menu {
    position: absolute;
    bottom: 48px + 16px;
    display: inline-grid;
    left: 50%;
    grid-auto-columns: 1fr;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    pointer-events: none;

    &.show {
        pointer-events: auto;
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.addBlockButton {
    text-align: center;
    padding: 0.4rem 1rem;
    grid-row: 1;

    &:first-child {
        border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
    }

    &:last-child {
        border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
    }

    &:hover {
        background-color: var(--secondary-200);
    }

    span {
        display: block;
        @include text-style-caption;
    }
}